<div class="row">
  <div class="col-md-3">
    <button
      class="w-100 btn btn-outline-dark-reverse"
      data-bs-toggle="collapse"
      href="#filterMenuCollapse"
      aria-expanded="false"
      aria-controls="multiCollapseExample2"
    >
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#filterTissue" />
      </svg>
      Filters
    </button>
    <app-sort></app-sort>
    <app-region></app-region>
    <div class="collapse show multi-collapse" id="filterMenuCollapse">
      <div class="d-flex flex-column p-3 text-white bg-dark">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <div class="accordion-body">
              <div class="mb-3">
                <button
                  class="w-100 btn btn-outline-primary"
                  (click)="filter()"
                >
                  Filter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <app-tissue></app-tissue>
  </div>
</div>
