<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr class="dark-theme">
      <th>Id</th>
      <th>Name</th>
      <th>Sort</th>
      <th>Region</th>
      <th>Gender</th>
      <th>Origin</th>
      <th>Update Tissue</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crrntTissue of currentTissue" class="dark-theme">
      <td>{{ crrntTissue.id }}</td>
      <td>{{ crrntTissue.name }}</td>
      <td>{{ crrntTissue.sort }}</td>
      <td>{{ crrntTissue.region }}</td>
      <td>{{ crrntTissue.gender }}</td>
      <td>{{ crrntTissue.origin }}</td>
      <td>
        <button
          type="button"
          class="w-75 btn btn-outline-success"
          routerLink="/tissueUpdate"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<br />

<div class="row">
  <div class="col-sm-4 right">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          [class]="checkCurrentImage(tissueImage)"
          *ngFor="let tissueImage of tissueImages"
        >
          <img
            class="d-block w-100"
            src="{{ 'data:image/jpg;base64,' + tissueImage.image }}"
            height="350"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-md-8">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <i style="font-size: 30px">{{ currentTissue[0].name }}</i>
      <br />
      <p style="font-family: 'Courier New'">
        The sternocleidomastoid muscle is one of the largest and most
        superficial cervical muscles. The primary actions of the muscle are
        rotation of the head to the opposite side and flexion of the neck. The
        sternocleidomastoid is innervated by the accessory nerve. It is given
        the name sternocleidomastoid because it originates at the manubrium of
        the sternum (sterno-) and the clavicle (cleido-), and has an insertion
        at the mastoid process of the temporal bone of the skull.
      </p>
    </div>
  </div>
</div>

<!-- <br />

<img
  *ngFor="let tissueImage of tissueImages"
  align="middle"
  src="{{ 'data:image/jpg;base64,' + tissueImage.image }}"
  width="250"
  height="350"
/>

<br /> -->
