<div class="container">
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0 dark-theme">
    <img
      class="mx-auto pic"
      src="https://bootdey.com/img/Content/avatar/avatar7.png"
    />
    <div class="card-body">
      <p class="text-muted">Your card details</p>
      <div class="numbr mb-3">
        <i class="col-1 fas fa-credit-card text-muted p-0"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#payment" />
        </svg>
        <input
          class="col-10 p-0"
          type="number"
          placeholder="Card Number"
          minlength="19"
          maxlength="19"
        />
      </div>
      <div class="line2 col-lg-12 col-12 mb-4">
        <i class="col-1 far fa-calendar-minus text-muted p-0"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#calendar" />
        </svg>
        <input class="cal col-5 p-0" type="text" placeholder="MM/YY" />
        <i class="col-1 fas fa-lock text-muted"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#shield-lock" />
        </svg>
        <input
          class="cvc col-5 p-0"
          type="number"
          placeholder="CVC"
          minlength="3"
          maxlength="3"
        />
      </div>
    </div>
    <div class="footer text-center p-0">
      <div class="col-lg-12 col-12 p-0">
        <p class="order">Add Card</p>
      </div>
    </div>
  </div>
</div>
