<div class="container">
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0 dark-theme">
    <img
      class="mx-auto pic"
      src="https://bootdey.com/img/Content/avatar/avatar7.png"
    />
    <div class="card-body">
      <p class="text-muted">Your card details</p>
      <div class="numbr mb-3">
        <i class="col-1 fas fa-credit-card text-muted p-0"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#payment" />
        </svg>
        <input
          class="col-10 p-0"
          type="number"
          placeholder="Card Number"
          maxlength="16"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        />
      </div>
      <div class="line2 col-lg-12 col-12 mb-4">
        <i class="col-1 far fa-calendar-minus text-muted p-0"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#calendar" />
        </svg>
        <input
          class="col-5"
          type="date"
          id="example-date-input"
          [(ngModel)]="today"
          min="{{ today }}"
          max="2023-12-23"
        />
        <i class="col-1 fas fa-lock text-muted"></i>
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#shield-lock" />
        </svg>
        <input
          class="cvc col-5 p-0"
          placeholder="CVC"
          maxlength="3"
          type="number"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength); this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        />
      </div>
    </div>
    <div class="footer text-center p-0">
      <div class="col-lg-12 col-12 p-0">
        <p class="order">Add Card</p>
      </div>
    </div>
  </div>
</div>
