<!-- Selam {{title}}
<br>
{{tissue2.tissueName}}
<br> -->

<div class="container">
  <app-navi></app-navi>

  <div class="row">
    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="login()"
      routerLink="/login"
    >
      Sign In
    </button>
  </div>
  <br />

  <div class="row">
    <button
      class="w-100 btn btn-lg btn-primary"
      (click)="login()"
      routerLink="/register"
    >
      Register
    </button>
  </div>
  <br />

  <div class="row">
    <router-outlet></router-outlet>
    <br />
    <!-- <button class="w-100 btn btn-lg btn-primary" (click)="logout()">
      LOGOUT
    </button> -->
  </div>
</div>
