/* You can add global styles to this file, and also import other style files */
.dark-theme {
  background-color: #212529;
  color: #fff;
}
.dark-font {
  color: #212529;
}
.dark-theme-root {
  background-color: hsl(210, 11%, 25%);
}
.white-theme {
  background-color: #fff;
  color: #212529;
}
a {
  color: inherit;
}
.text-align-center {
  text-align: center;
}
