<div class="mb-3">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="filterText"
    id="filterText"
    placeholder="Sort Name"
  />
</div>
<ul class="list-group">
  <li (click)="clearCurrentSort()" [class]="checkCurrentSort()">All Sorts</li>
  <li
    *ngFor="let sort of sorts | sortFilterPipe: filterText"
    (click)="setCurrentSort(sort)"
    [class]="getCurrentSort(sort)"
  >
    {{ sort.name }}
  </li>
  <!-- <select
    class="form-select"
    aria-label="Disabled select example"
    id="sort"
    (click)="element()"
  >
    <option selected></option>
    <option
      *ngFor="let sort of sorts | sortFilterPipe: filterText"
      [class]="getCurrentSort(sort)"
      value="{{ sort.id }}"
    >
      {{ sort.name }}
    </option>
  </select> -->
</ul>

<!-- <input type="file" (change)="openFile($event)" /> <br /><br /><br />

<h3 align="center">File Content</h3>
<img
  align="center"
  src="{{ 'data:image/jpg;base64,' + fileContent }}"
  width="200"
  height="350"
/> -->

<!-- <button type="button" (change)="">TIKLA BANA AQ</button> -->

<!-- <button type="button" (click)="(getInput())">TIKLA BANA</button>
<h1>{{data}}</h1> -->
