<ul class="list-group">
  <li
    (click)="clearCurrentSort()"
    routerLink="/tissues"
    [class]="checkCurrentSort()"
  >
    All Tissues
  </li>
  <li
    (click)="setCurrentSort(sort)"
    routerLink="/tissues/sort/{{ sort.id }}"
    *ngFor="let sort of sorts"
    [class]="getCurrentSort(sort)"
  >
    {{ sort.name }}
  </li>
</ul>

<!-- <input type="file" (change)="openFile($event)" /> <br /><br /><br />

<h3 align="center">File Content</h3>
<img
  align="center"
  src="{{ 'data:image/jpg;base64,' + fileContent }}"
  width="200"
  height="350"
/> -->

<!-- <button type="button" (change)="">TIKLA BANA AQ</button> -->

<!-- <button type="button" (click)="(getInput())">TIKLA BANA</button>
<h1>{{data}}</h1> -->
