<ul class="list-group">
  <li class="list-group-item">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>


<!-- <input type="file" (change)="openFile($event)" /> <br /><br /><br />

<h3 align="center">File Content</h3>
<img
  align="center"
  src="{{ 'data:image/jpg;base64,' + fileContent }}"
  width="200"
  height="350"
/> -->

<!-- <button type="button" (change)="clickButton()">TIKLA BANA AQ</button> -->
