<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <input
    type="text"
    class="form-control dark-theme"
    [(ngModel)]="filterText"
    id="filterText"
    placeholder="Tissue Name"
  />
</div>

<div class="album py-5 dark-theme">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div
        class="col"
        *ngFor="
          let tissueDetail of tissuesDetail | tissueFilterPipe: filterText
        "
      >
        <div class="card shadow-sm">
          <div>
            <app-tissue-thumbnail
              [tissueId]="tissueDetail.id"
            ></app-tissue-thumbnail>
          </div>

          <div class="card-body dark-theme">
            <p class="card-text text-align-center">
              {{ tissueDetail.name }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-success"
                  routerLink="/tissues/{{ tissueDetail.id }}"
                  (click)="alert(tissueDetail)"
                >
                  Details
                </button>
              </div>
              <small class="text-muted">Created by ChaTho</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="text-muted py-5 dark-theme">
  <div class="container">
    <p class="float-end mb-1">
      <a href="/tissues/#">Back to top</a>
    </p>
    <p class="mb-1 dark-font">
      <a href="https://github.com/ChaTho7" class="text-white" target="_blank"
        >Designed by ChaTho</a
      >
    </p>
  </div>
</footer>

<!-- <table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr class="dark-theme">
      <th>Id</th>
      <th>Name</th>
      <th>Sort</th>
      <th>Region</th>
      <th>Gender</th>
      <th>Origin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="dark-theme"
      *ngFor="let tissueDetail of tissuesDetail | tissueFilterPipe: filterText"
    >
      <td>{{ tissueDetail.id }}</td>
      <td>{{ tissueDetail.name }}</td>
      <td>{{ tissueDetail.sort }}</td>
      <td>{{ tissueDetail.region }}</td>
      <td>{{ tissueDetail.gender }}</td>
      <td>{{ tissueDetail.origin }}</td>
      <td>
        <button
          class="btn btn-outline-success"
          (click)="alert(tissueDetail)"
          routerLink="/tissues/{{ tissueDetail.id }}"
        >
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
