<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sort</th>
      <th>Region</th>
      <th>Gender</th>
      <th>Origin</th>
    </tr>
  </thead>
  <tr *ngFor="let tissueDetail of tissuesDetail" routerLink="/tissues/{{tissueDetail.id}}">
    <td>{{ tissueDetail.id }}</td>
    <td>{{ tissueDetail.name }}</td>
    <td>{{ tissueDetail.sort }}</td>
    <td>{{ tissueDetail.region }}</td>
    <td>{{ tissueDetail.gender }}</td>
    <td>{{ tissueDetail.origin }}</td>
  </tr>
</table>
