<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Search Tissue</label>
  <input
    type="text"
    class="form-control dark-theme"
    [(ngModel)]="filterText"
    id="filterText"
    placeholder="Tissue Name"
  />
</div>
<!-- <div *ngIf="filterText" class="alert alert-primary">{{ filterText }}</div> -->
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr class="dark-theme">
      <th>Id</th>
      <th>Name</th>
      <th>Sort</th>
      <th>Region</th>
      <th>Gender</th>
      <th>Origin</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="dark-theme"
      *ngFor="let tissueDetail of tissuesDetail | tissueFilterPipe: filterText"
    >
      <td>{{ tissueDetail.id }}</td>
      <td>{{ tissueDetail.name }}</td>
      <td>{{ tissueDetail.sort }}</td>
      <td>{{ tissueDetail.region }}</td>
      <td>{{ tissueDetail.gender }}</td>
      <td>{{ tissueDetail.origin }}</td>
      <td>
        <button
          class="btn btn-outline-success"
          (click)="alert(tissueDetail)"
          routerLink="/tissues/{{ tissueDetail.id }}"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>
